<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2015.1.847-alpha" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="OxyPlot.Xamarin.Forms" version="2015.1.847-alpha" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>